@keyframes slideAnimation {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.container-transport {
  animation: slideAnimation linear infinite;
  animation-duration: 80s;
  animation-direction: normal;
}
