@keyframes slideAnimation {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.container-transport {
  animation: slideAnimation linear infinite;
  animation-duration: 20s;
  animation-direction: normal;
}
